USER_DATABASE_TYPE=
DOCUMENT_DATABASE_TYPE=

# MongoDB configurations
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB_NAME=
MONGO_HOST=
MONGO_PORT=

# ZenML Configurations
# ZENML_HOST=
# ZENML_PORT=
# ZENML_PROJECT=
ZENML_LOGS_FILE=./tmp/zenml.log

ETL_LOGS_FILE=./tmp/etl.log

GITHUB_TOKEN=